[Unit]
Description=Service to enable internet forwarding over lan0 interface
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=30
ExecStartPre=/bin/sh -c 'until ping -c1 8.8.8.8; do sleep 1; done;'
ExecStart=/bin/bash /usr/bin/waggle-internet-share

[Install]
WantedBy=multi-user.target
